ion-header {
    background-color: #59a8ff;
    color: #fff;
  }
  
  ion-title {
    font-size: 28px;
    font-weight: bold;
  }
.image-container {
    width: 50%;
    margin: 0 auto;
}
ion-img {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 4px rgba(223, 156, 156, 0.5);
  }