<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Boas Vindas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1>Seja Bem vindo ao Meu App!</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="6">
        <div class="image-container">
        <ion-img src="https://cdn.discordapp.com/attachments/1063474527411118190/1097875101237661816/994e9173-8864-46d4-abde-1cb5153784c4.jpg"></ion-img>
      </div>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <p>Obrigado por escolher Meu App! Estamos entusiasmados por ter você como parte de nossa comunidade. Nosso aplicativo foi desenvolvido para ajudar você a se organizar e atingir seus objetivos acadêmicos.</p>
        <p>Esse app é um projeto de faculdade para testar:</p>
        <ul>
          <li>Criação de menu</li>
          <li>Navegação dentro da aplicação</li>
          <li>Implementar componentes</li>
          <li>Criar fluxo e logica dentro da app</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="6">
        <p>Breve tour do aplicativo:</p>
        <ul>
          <li>Login/Boas vindas: Apresenta uma pagina de login com simulação de username e password que direciona para esta pagina de boas vindas</li>
          <li>Home: Apresenta uma lista que apresenta uma mensagem toast</li>
          <li>Informe Dados: Apresenta um botão para clicar e usar o component alert com inputs</li>
          <li>Badges: Uma pagina com texto a minha escolha para apresentar o uso do component badge</li>
        </ul>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <div class="image-container">
        <ion-img src="https://cdn.discordapp.com/attachments/1063474527411118190/1097875174885441677/691ba9a9-cff1-4bd6-9e30-3f93ba568389.jpg"></ion-img>
      </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p>Obrigado por escolher Meu App! Esperamos que você goste de usar meu aplicativo e obtenha grande sucesso em sua jornada acadêmica.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
