<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Badges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Badges</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="spongeman" src="https://cdn.discordapp.com/attachments/1063474527411118190/1097833334811398154/6f9497c2-2a66-4f34-a9ed-134abbaf590b.jpg" />
    <ion-card-header>
      <ion-card-title> Esponjas de cozinha - tudo o que você precisa saber</ion-card-title>
      <ion-card-subtitle>Mantenha sua cozinha limpa e higiênica com as esponjas certas</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      As esponjas de cozinha são uma ferramenta essencial para manter sua cozinha limpa e higiênica. No entanto, nem todas as esponjas são iguais, e é importante escolher a esponja certa para cada tarefa.

      Para limpar pratos, panelas e utensílios de cozinha, as esponjas comuns de limpeza são uma boa opção. Elas geralmente têm duas faces: uma macia para limpar sujeira leve e outra mais áspera para remover sujeira pesada e resíduos de alimentos. É importante lembrar de trocar a esponja regularmente para evitar a proliferação de bactérias.
      
      Para limpar superfícies mais delicadas, como panelas antiaderentes, é melhor usar uma esponja mais suave, como as esponjas de microfibra. Elas são gentis o suficiente para não danificar a superfície, mas ainda assim eficientes para remover a sujeira.
      
      Além disso, também existem esponjas específicas para limpar vegetais e frutas, como as esponjas de luffa ou esponjas naturais. Elas são ideais para remover sujeira e resíduos de alimentos sem danificar os alimentos.
      
      Escolher a esponja certa pode não parecer importante, mas faz toda a diferença na limpeza da sua cozinha. Certifique-se de ter diferentes tipos de esponjas para diferentes tarefas e trocá-las regularmente para manter sua cozinha limpa e saudável.
    </ion-card-content>
  </ion-card>
  <ion-list>
      <ion-item>
        <ion-label>Visualizações</ion-label>
        <ion-badge color="success">13500</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Likes</ion-label>
        <ion-badge color="medium">5200</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Favorito</ion-label>
        <ion-badge color="danger">13</ion-badge>
      </ion-item>
      <ion-item>
      <ion-label>Compartilhamento</ion-label>
      <ion-badge color="primary">30</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
